<div style="background-color:yellow">
    <h3>ChildComponent</h3>
    <GrandChildComponent></GrandChildComponent>
    <p>@MyMessage</p>
</div>
@code {
    [CascadingParameter]
    public string MyMessage { get; set; }
}
