@typeparam TItem

<table class="fancy-table">
    <thead>
        <tr>
            @foreach (var header in Headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<TItem> Items { get; set; } = new List<TItem>();

    [Parameter]
    public List<string> Headers { get; set; } = new List<string>();

    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }
}
