@typeparam TItem

<h3>Generic List</h3>
<ul>
    @foreach (var item in Items)
    {
        <li>@item.ToString()</li>
    }
</ul>

@code {
    [Parameter]
    public List<TItem> Items { get; set; } = new List<TItem>();
}
