<h3>ChildComponent</h3>

<div>
    @foreach (Product p in list)
    {
        @MySection(p)
    }


    <br />
    <br />
    <br />


</div>

@code {

            List<Product> list = new List<Product> {
            
            new Product {Id=1, Name="Car", Price=400 },
            new Product {Id=2, Name="Bike", Price=500 },
            new Product {Id=3, Name="Cycle", Price=600 }
    };



    [Parameter]
    public RenderFragment<Product> MySection { get; set; }



}
