@page "/pc/"
<h3>ParentComponent</h3>

<button @onclick="ClickMeMethod">Click from Parent</button>

<ChildComponent count="@counter"></ChildComponent>
@code {
    int counter = 0;
    void ClickMeMethod() {
        counter = counter + 1;
        Console.WriteLine("----------Parent :Click Me Method------------");
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        Console.WriteLine("Parent : SetParametersAsync");
        return base.SetParametersAsync(parameters);
    }
    protected override void OnInitialized()
    {
        Console.WriteLine("Parent : OnInitialized");
        base.OnInitialized();
    }
    protected override Task OnInitializedAsync()
    {
        Console.WriteLine("Parent : OnInitializedAsync");

        return base.OnInitializedAsync();
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine("Parent : OnParametersSet");

        base.OnParametersSet();
    }
    protected override Task OnParametersSetAsync()
    {
        Console.WriteLine("Parent : OnParametersSetAsync");

        return base.OnParametersSetAsync();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("Parent : OnAfterRender");

        base.OnAfterRender(firstRender);
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Parent : OnAfterRenderAsync");

        return base.OnAfterRenderAsync(firstRender);
    }
    protected override bool ShouldRender()
    {
        Console.WriteLine("Parent : ShouldRender");

        return base.ShouldRender();
    }
}
