<h3>ChildComponent</h3>

<button @onclick="@MyMethod">Click ME</button>

@code {

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    private void MyMethod() {

        OnClickCallback.InvokeAsync("I am sending data from child");
    }
}
